<h1 >Consultar Alumno</h1>
<div>
    <div class="datos">
        <h2>Datos Personales</h2>
        <div class="row">
            <div class="col-3">
                <p class="texto">DNI: {{alumno.dni}}</p>
            </div>
            <div class="col-3">
                <p class="texto">Apellido: {{alumno.apellido}}</p>
            </div>
            <div class="col-3">
               <p class="texto"> Nombre: {{alumno.nombre}}</p>
            </div>
            <div class="col-3">
               <p class="texto"> Edad: {{alumno.edad}}</p>
            </div>
        </div>
    </div>

    <div class="cursos">
        <h2>Cursos Inscriptos</h2>
        <div class="row" *ngIf="inscripciones?.length != 0">
            <div class="col-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Curso</th>
                    <th scope="col">Comision</th>
                    <th scope="col">Profesor</th>
                    <th scope="col">Accion</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let inscripcion of inscripciones">
                    <td>{{inscripcion.curso.nombre}}</td>
                    <td>{{inscripcion.curso.comision}}</td>
                    <td>{{inscripcion.curso.profesor}}</td>
                    <td><button mat-icon-button (click)="eliminar(inscripcion)"><mat-icon>delete</mat-icon></button></td>
                  </tr>
                </tbody>
              </table>
            </div>
           <!--  <div class="col-4" *ngFor="let inscripcion of inscripciones">
                  <p class="texto">{{inscripcion.curso.nombre}} - {{inscripcion.curso.comision}} </p><button mat-icon-button (click)="eliminar(inscripcion)"><mat-icon>delete</mat-icon></button>
                </div> -->
        </div>
        <div class="row" *ngIf="inscripciones?.length == 0">
            <div class="col-8">
                <h3>El alumno no esta inscripto en ningún curso.</h3>
            </div>
        </div>
    </div>

    <div class="row  justify-content-md-center">
        <button mat-raised-button color="warn" (click)="volverAtras()">Cerrar</button>
    </div>
</div>